body {
  font-family: Arial sans-serif;
  background-color: lightblue;

  .wrap {
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .btn {
    width: 200px;
    height: 60px;
    background-color: yellowgreen;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    transition: color .3s linear, border .3s linear;
    outline: none;

    &:hover {
      color: green;
      border: 2px solid green;
    }
  }
  .list {
    font-size: 18px;
  }
}